/* ----- POSICIONAR ELEMENTOS DE DESCRIPCION ----- */

/* SOLO PARA SLIDER PRINCIPAL */
#body-container[data-pageorder='1'] {
    
    #seccion_1 .li_articuloSlider_nivel1 > img {
        width: 105% !important;
        height: 105% !important;
    }

    #seccion_1 .li_articuloSlider_descripcion {
        width: 60%;
        max-width: 60% !important;
        background-color: transparent;
        background: transparent;
        left: 10%;
        bottom: 10%;
    }
    
    #seccion_1 .li_articuloSlider_descripcion_titulo,
    #seccion_1 .li_articuloSlider_descripcion_cuerpo {
        width: 100%;
        margin-left: 0px;
    }
    
    #seccion_1 .li_articuloSlider_descripcion_titulo h3 {
        font-size: 1.6em;
        font-weight: 400;
        color: rgba(255,255,255,1);
    }
}